
@media only screen and (max-width: 1120px) { 
    
    .mainColumn1{
    width: 17em;
    max-height: 100vh;
    min-width: 17em;
    overflow-x: none;
    overflow-y: none;
    }

    .userList{
    max-height: 5em;
    overflow-y: scroll;
    overflow-x: none;
    }

    .happeningList{
    max-height: 10em;
    }
}

@media only screen and (max-width: 1380px) and (min-height:1120px){ 
    
    .mainColumn1{
    max-width: 50vw;
    }

    .row{
    min-width: 100vw;
    }

    .userList{
    max-height: 20em;
    }
}

.container{
    display: block;
    position:relative;
    min-width: 30rem;
    max-width: 100%;
    margin-top: -20px;
    margin-left: -1em;
}
.userAndHappenWrap{
    display: flex;
    flex-wrap: wrap;

}
.row{
    display: flex;
    justify-content: space-between;    
    flex-direction: row;
   
}
.mainColumn1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.mainColumn2{
    display: flex;
    justify-content: space-between;
    
}

.dateAndDrawColumn{
    position: relative;
    margin-left: 2em;
    max-height: 80vh;
    width: 13em;
    float: left;
    bottom:0;

}
.userColumn{
    padding-left: 1em;
    position: relative;
    margin-left: 1em;
    width: 13em;
    overflow-y: hidden;
    overflow-x: none;


}
.happeningsColumn{
    position:relative;
    display: flexbox;
    
    margin-left: 1em;
    width: 13em;
    word-wrap: break-word;
    overflow-y: none;
    overflow-x: hidden;



}
.doneHappeningsColumn{
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    min-width: 30em;
    max-width: 38.8125em;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    overflow-y: none;

}

.setDateInput{
    width:11em;
    margin-left: 10px;
    float:right;
}

.umiddelbart{
    width: 10em;
}
.AmountInputWrap{
    margin-right: 0.7rem; 
    max-width: 1.8em;
    float: right

}
.drawAmountInput{
    width: 3em;
    margin-right: 1.74em;
}

.containerAdmin
{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    height: 80vh;
    min-height: 1em;
    min-width: 30em;
    margin-top: -20px;
    margin-bottom: -3em;
}

.kolonne1Admin{
    padding-top: 5px;
    margin-right: 20px;
    width:  35.25em;
    min-height: 1em;
    max-width: 20.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: none;
}

.kolonne2Admin{
    padding-top: 5px;
    margin-right: 20px;
    /* height: 46.875rem; */
    width:  35.25em;
    min-height: 1em;
    max-width: 18.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: hidden;

}



