*{
    font-family: 'Poppins', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    box-sizing: border-box;
    
    }
::-webkit-scrollbar {
    width: 0.4em;
    border-top-left-radius: 50% ;
    border-top-right-radius: 50%;
  }
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
   
::-webkit-scrollbar-thumb {
    background-color: #2266ff;
    outline: 1px solid slategrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

[id*=details] {
    display: none;
}

body{
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
  }



.btn{
    text-transform: uppercase;
    background-color: #2266ff;
    justify-content: center;
    justify-items: center;
    height: 35px;
    width: 35px;
    color: #fff ;
    font-weight: bold;
    text-decoration: none;
    float: right;
    border:double;
    border-radius: 25%;
    margin: 2px;
    cursor: pointer;
}
.btnL {
    background-color: #2266ff;
    justify-content: center;
    justify-items: center;
    color: #fff ;
    font-weight: bold;
    text-decoration: none;
    border:solid;
    height: 2.4em;
    border-radius:6px;
    margin: 2px;
    cursor: pointer;
}

.topMenu{
    margin-top: 15px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 5px;
    margin-bottom: 0;
    min-width: 66.25rem;
    max-height: 24vh;
    min-height: fit-content;

}

.btn--top {
  text-transform: uppercase;
  background-color: #2266ff;
  color: #fff ;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  margin-right: 0.5rem;
  margin-bottom: 1em;
  cursor: pointer;
}
  
  
.btn--top:hover,
.btn--top:active {
    background-color: #000000;
  }

.btn--small {
  background-color: #2266ff;
  color: white;
  border-radius: 6px;
  border: 2px solid #2266ff;
  margin-left: 1em;
}
.btn--small:hover{
    background-color: #000000;
    border:5px, double;
    cursor: pointer;
    border: 2px solid #000000;
}
.btn--small:active{
    border: 2px solid white;
}


.inputFields {
  border: 2px solid #2266ff;
  border-radius: 6px;
  margin-left: 1em;
}

.btnDetailsAndDel{
    text-transform: uppercase;
    background-color: #2266ff;
    justify-content: center;
    justify-items: center;
    height: 35px;
    width: 35px;
    color: #fff ;
    font-weight: bold;
    text-decoration: none;
    border:double;
    border-radius: 25%;
    margin: 2px;
    cursor: pointer;
}
.btn:hover,
.btn:active {
    background-color: #000000;
    border:5px, double;
    cursor: pointer;
}

.addBtn{
    display:inline-block;
    border: double;
    background-color: #2266ff;
    color:white;
    border-radius: 25%;
    cursor: pointer;
}
.addBtn:hover{ 
    border: double;
    background-color: #000000;
    color:white;
    border-radius: 25%;
    cursor: pointer;

}

.headerAboveOne {
    max-width: 20vw;
    min-width: 11.25rem;
    white-space: pre-wrap;
    }

.headerAboveTwo {

    min-width: 14.375rem;
    white-space: pre-wrap;
    }
.headerAboveThree { 
    min-width: 14.375rem;
    white-space: pre-wrap;
   }

.happeningList{
    margin-top: 1.65em;
    min-width: 12em;
    max-width: 12em;
    min-height: 1em;
    max-height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;
    
    }


.userList{
    margin-top: -20px;
    min-width: 12em;
    max-width: 12em;
    margin-bottom: 5px;
    overflow-y: scroll;
    max-height: 70vh;
    scrollbar-width: none;
  }

.doneHappenList{
    max-height: 70vh;
    min-height: 2em;
    overflow-y: scroll;
    background-color: #f6f9ff;
}
.checkmark{
    width: 20px;
}


.doneHappeningBtn{
    width: 1.5em;
    height: 1.5em;
    justify-items: center;
  }

.comment {
    position: absolute;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    grid-column: 2;
    grid-row: 3;
    bottom: 0;
  }

.happeningListAdmin{

    padding-top: 5px;
    margin-right: 20px;
    max-height: 60vh;
    max-width: 30.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow-y: scroll;  
      }
  
.userListAdmin{
    padding-top: 5px;
    margin-right: 20px;
    max-height: 60vh;
    min-height: 1em;
    max-width: 30.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow-y: scroll;  

    }


.addArrangementBox{
    position:absolute;
    margin-top: 5px;
    margin-right: 1em;
    margin-bottom: 1em;
    bottom: 0;
    }

.addPersonBox{
    position:absolute;
    margin-top: 5px;
    margin-left: 2em;
    margin-bottom: 1em;
    min-width: 6em;
    bottom: 0;
    }
.inputsAdmin {
    margin-top: 10px;
    border-radius: 6px;
    width: 18em;
  }

/* .trekkBtn{  
  display: inline-block;
  position: absolute;
  bottom: 1em;
  margin:10px;
  width: 8em; 
  height: 40px;
  max-height: 40px; 
  color:white;
  background-color:#2266ff;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  
  } */
/* .trekkBtn:hover,
.trekkBtn:active {
  background-color: #000000;
  border:5px, double;
  cursor: pointer;
  } */
