.container{
    display: flex;
    justify-content: space-between;
}

.boxOne{
    width: 50vw;
    max-height: 60vh;
    border: solid grey 1px;
    overflow: scroll;
    font-size: 70px;
    padding: 10px;
}

.boxTwo{
    width: 50vw;
    max-height: 60vh;
    border: solid grey 1px;
    overflow: scroll;
    font-size: 70px;
    padding: 10px;
}

.button{
    height: 40px;
    padding: 10px;
    margin: 10px;
}

.inBox{
    height: 40px;
}

header{
    font-size: 80px;
}

.btn--bottom1{
    position: absolute;
    left: 25%;
}

.btn--bottom2{
    position: absolute;
    left: 75%;
}

.input--bottom1{
    position: absolute;
    left: 10%;
}

.input--bottom2{
    position: absolute;
    left: 60%;
}