
@media only screen and (max-width: 1020px) { 
    .mainColumn1{
    max-width: 15rem;
    }

}

@media only screen and (min-width: 1020px) { 
    
    .mainColumn1{
        min-width: 34.9em;
        }
    .mainColumn2{
        min-width: 100%;
    
    }
    .row{
        min-width: 100%;
    }
}

.container{
    display: block;
    position:relative;
    min-width: 30rem;
    max-width: 100%;
    margin-top: -20px;
}
.row{
    display: flex;
    flex-direction: row;
    min-width: 100%;  
}
.mainColumn1{
    display: flex;
    flex-wrap: wrap;
    max-height: fit-content;
}
.mainColumn2{
    display: flex;
    min-width: 100%;
}

.dateAndDrawColumn{
    position: relative;
    margin-left: 2em;
    
    max-height: 80vh;
    max-width: 15em;
    min-width: 13em;
    bottom:0;

}
.userColumn{
    padding-left: 1em;
    position: relative;
    margin-left: 1em;
    max-width: 15em;
    min-width: 13em;
    overflow-y: hidden;
    overflow-x: none;


}
.happeningsColumn{
    position:relative;
    display: flexbox;
    margin-left: 1em;
    max-width: 15em;
    min-width: 13em;
    word-wrap: break-word;
    overflow-y: hidden;


}
.doneHappeningsColumn{
    max-height: 90vh;
    min-width: 30em;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    overflow-y: none;

}

.setDateInput{
    width:11em;
    margin-left: 10px;
    float:right;
}

.umiddelbart{
    width: 10em;
}
.dateInputWrap{
    margin-right: 0.4rem; 
    max-width: 1.8em;
    float: right

}
.drawTimesInput{
    width:2.6em;
    margin-right: 1.74em;
}

.containerAdmin
{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    height: 80vh;
    min-height: 1em;
    min-width: 30em;
    margin-top: -20px;
    margin-bottom: -3em;
}

.kolonne1Admin{
    padding-top: 5px;
    margin-right: 20px;
    width:  35.25em;
    min-height: 1em;
    max-width: 20.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: none;
}

.kolonne2Admin{
    padding-top: 5px;
    margin-right: 20px;
    /* height: 46.875rem; */
    width:  35.25em;
    min-height: 1em;
    max-width: 18.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: hidden;

}



