*{
    font-family: 'Poppins', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}

body{
    padding: 20px;
}

ul {
    list-style: none;
}

.container{
    display: flex;
    margin-top: -20px;
}

.boxOne{
    margin: 20px;
    height: 750px;
    overflow-y: scroll;
}

.boxTwo{
    margin: 20px;
    height: 750px;
    overflow-y: scroll;
}

.topMenu{
    margin-top: -15px;
}

.btn--top {
    text-transform: uppercase;
    background-color: #4300c0;
    color: #fff ;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 6px;
    margin: 15px 0px 15px 15px;
    cursor: pointer;
  }
  
  .btn--top:hover,
  .btn--top:active {
    background-color: #4800ce;
  }
  /* input[type=radio] {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5em;
    -webkit-appearance: none;
  }
  
  input[type=radio]:checked {
    background-color: 'black';
    background-size: 0.5em;
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  } */