
@media only screen and (max-width: 1160px) { 
    
    .mainColumn1{
    width: 17em;
    max-height: 70vh;;
    min-width: 17em;
    flex-flow: row wrap;
    overflow-x: none;
    overflow-y: none;
    }

    .userColumn{
    max-height: 13em;
    overflow-y: none;
    }
    .userList{
    max-height: 13em;
    overflow-y: scroll;
    overflow-x: none;
    }
    .happeningUserWrap{
    display: flexbox;
    max-height: 26em;
        
    }
    .userList{
    height: 4em;
    }
    

    .happeningList{
    
    height: 4em;
    }
}

@media only screen and (max-width: 1360px) and (min-width: 1160px)  { 
    
    .mainColumn1{
    justify-content: space-between;    
    max-width: 50vw;
    max-height: 70vh;
    
    }
    .happeningUserWrap{
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vh;
    }
    .row{
    min-width: 100vw;
    
    }

    .happeningsColumn{
    max-height: 25em;
    }
    .userColumn{
    max-height: 25em;
    }
   
    .userList{
    max-height: 20em;
    }

    .happeningList{
    max-height: 10em;
    }
    
}
@media only screen and (min-width: 1360px) {
    
    .happeningUserWrap{
    display: flex;
    flex-direction: row;
    max-height: inherit;
    }

    .userList{
    max-height: 70vh;
    }

    .happeningList{
    max-height: 70vh;
    }
}

.container{
    display: flex;
    position:relative;
    min-width: 30rem;
    max-width: 100%;
    margin-top: -20px;
    margin-left: -1em;
}
.userAndHappenWrap{
    position:relative;
    min-width: 30em;
    display: flex;
    flex-wrap: wrap;
    overflow-y: none;

}
.row{
    display: flex;
    flex-direction: row;
    max-height: 60vh;
    overflow-y: none;
}
.mainColumn1{
    display: flex;
    max-height: 70vh;
    overflow-y: none;
   
}
.mainColumn2{
    display: flex;
    
}

.dateAndDrawColumn{
    position: relative;
    margin-left: 2em;
    margin-bottom: 0.5em;
    max-height: 15em;
    width: 13em;
    
    

}
.userColumn{
    padding-left: 1em;
    margin-left: 1em;
    width: 13em;
    overflow-y: none;
    overflow-x: none;


}
.happeningsColumn{
    width: 13em;
    margin-left: 1em;
    word-wrap: break-word;
    overflow-y: none;
    overflow-x: hidden;
}
.doneHappeningsColumn{
    display: relative;
    flex-wrap: wrap;
    max-height: fit-content;
    min-width: 30em;
    max-width: 38.8125em;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    overflow-y: none;
}

.setDateInput{
    width:6em;
    margin-left: 10px;
    float:right;
}

.umiddelbart{
    width: 10em;
}
.AmountInputWrap{
    margin-right: 0.7rem; 
    max-width: 1.8rem;
    float: right

}
.drawTimesInput{
    width: 2.8em;
    margin-right: 1.74em;
}

.containerAdmin
{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    height: 70vh;
    min-height: 1em;
    min-width: 30em;
    margin-top: -20px;
    margin-bottom: -3em;
}

.kolonne1Admin{
    padding-top: 5px;
    margin-right: 20px;
    
    min-height: 3em;
    max-width: 20.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: none;
}

.kolonne2Admin{
    padding-top: 5px;
    min-height: 3em;
    max-width: 20.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: none;

}



