@media only screen and (max-width: 950px){

    /* .happeningsColumn{
        height: 35em;
    }

    .userColumn{
        height: 35em;
        float: left;

    }
    .containerLists{
        flex-wrap: wrap;
        max-height: 70vh;
        
    } */

}
@media only screen and (min-width: 950px){

    /* .happeningsColumn{
        height: 80vh;
    }
    
    .userColumn{
        height: 80vh;
    }
    .containerLists{
        flex-wrap: nowrap;
        max-height: 70vh;
        
    } */


}

.container{
    display: flex;
    width: 100vw;
    position:absolute;
    min-width: 30rem;
    max-width: 100vw;
    max-height: 80vh;
    margin-top: -20px;
    /* flex-wrap: wrap; */
}

.row{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    max-height: 80vh;
    width: 100%;
}
.containerLists{
    display: flex;
    
}

.happeningsColumn{
    position:relative;
    display: inline-block;
    max-width: 13em;
    min-width: 13em;
    overflow-y: hidden;
    overflow-x: none;
    
}
/* word-wrap: break-word; */
.dateAndDrawColumn{
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    max-height: 90vh;
    min-width: 13em;
    max-width: 13em;
    

}
/* .datoBoxWrap{

} */

.setDateInput{
    width:9em;
    margin-left: 10px;
    float:right;
}

.umiddelbart{
    width: 10em;
}
.dateInputWrap{
    margin-right: 0.4rem; 
    max-width: 1.8em;
    float: right

}
.drawTimesInput{
    width:2.6em;
    margin-right: 1.74em;
}

.userColumn{
    padding-left: 1em;
    position: relative;

    max-width: 13em;
    min-width: 13em;
    overflow-y: hidden;
    overflow-x: none;


}
.doneHappeningsColumn{         position: relative;
    width: 100%;
    margin-left: 1em;   
    margin-right: 1em; 
    max-height: 90vh;
    min-width: 30em;
    overflow-y: hidden;

}

.containerAdmin
{
    display: flex;
    justify-content: space-evenly;
    position:absolute;
    height: 80vh;
    min-height: 1em;
    min-width: 30em;
    margin-top: -20px;
    margin-bottom: -3em;
}

.kolonne1Admin{
    padding-top: 5px;
    margin-right: 20px;
    width:  35.25em;
    min-height: 1em;
    max-width: 20.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: none;
}

.kolonne2Admin{
    padding-top: 5px;
    margin-right: 20px;
    /* height: 46.875rem; */
    width:  35.25em;
    min-height: 1em;
    max-width: 18.75em;
    min-width: 18.75em;
    scrollbar-width: none;
    overflow: hidden;

}



